<header class="header">
    <a href="#" >
        <img src="images/favicon.ico" alt="Página inicial do Jornada Milhas" >
    </a>
    <div class="header-items">
        <a href="#">Vender Milhas</a>
        <a href="#">Sobre</a>

        <div class="botoes">
            <button mat-flat-button>Cadastre-se</button>
            <button mat-stroked-button>
                <mat-icon fontIcon="login"></mat-icon>
                <mat-icon>login</mat-icon>
                Login
            </button>
        </div>
    </div>
</header>
